<html>
    <body>
        <table border="1">
            <tr>
                <th>Nome da Empresa</th>
                <th>Numero de Inscricao da Empresa</th>
                <th>Nome do Banco</th>
                <th>Nome da Rua</th>
                <th>Numero do Local</th>
                <th>Nome da Cidade</th>
                <th>CEP</th>
                <th>Sigla do Estado</th>
            </tr>
            <tr>
                <td>{nome_empresa}</td>
                <td>{cnpj_empresa}</td>
                <td>{nome_banco}</td>
		<td>{rua}</td>
		<td>{numero}</td>
		<td>{cidade}</td>
		<td>{cep}</td>
		<td>{estado}</td>
            </tr>
        </table>
        <br />
        <table border="1">
            <tr>
                <th>Nome do Favorecido</th>
                <th>Data de Pagamento</th>
                <th>Valor do Pagamento</th>
                <th>Numero do Documento Atribuido pela Empresa</th>
                <th>Forma de Lancamento</th>
            </tr>
            <tr>
                <td>{nome_favorecido}</td>
                <td>{data_pgto}</td>
                <td>{valor}</td>
                <td>{numero_documento}</td>
                <td>{forma_lcto}</td>
            </tr>
        </table>
    </body>
</html>
